@CHARSET "UTF-8";

body {
	padding: 50px;
	width: 80%;
}

.new_product table {
	width: 100%;
	text-align: center;
}

span.regist {
	float: right;
}

div.new_product {
	border: 1px solid;
	padding: 50px;
}

input.cart_button {
	height: 5em;
}

img.product {
	border: 1px solid;
	width: 100%;
	height: 100%;
}